---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  color1:  "#044777"
  color2:  "#00325E"
  color3:  "#5195CE"
  color4:  "#5195CE"
  color5:  "#CEE3F1"
  color6:  "#EAF7FD"
  color7:  "#5BC236"
  advice:  "#FDFBC8"
  marine:  "#2C5E94"
---

body {
  background-color: <%= @page.color['color2'] %>;

}

#top-header {
  background-color: <%= @page.color['color1'] %>;
  padding: 6px 6px 6px 20px;
}

#top-header h1 {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#header {
  background-color: <%= @page.color['color2'] %>;
  height: 90px;
  border-bottom: 6px solid #9CCBE9;
}

#header #logo {
  padding: 10px 0 0 0;
}

#header #menu ul {
  list-style-type: none;
  padding: 30px 0 0 0;
  margin: 0;
}

#header #menu ul li {
  display: inline;
  padding-right: 10px;
  font-size: 22px;
}

#header #menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family:"Arial Rounded MT Bold", Arial, sans-serif; 
}

#menu-bar {
  background: <%= @page.color['color5'] %> url('/images/rbg.png') repeat-x top left;
  border-bottom: 2px solid #A1CEEB;
  padding: 20px 0 20px 0;
}

#menu-bar #menu ul {
  list-style-type: none;
  margin: 0;	
}

#menu-bar #menu ul li {
  border-bottom: 1px solid #A3D6ED;
}

#menu-bar #menu ul li a {
  text-decoration: none;
  color: <%= @page.color['color2'] %>;
  font-family:"Arial Rounded MT Bold", Arial, sans-serif;
}


#footer {
  padding: 40px 0 30px 0;
}

#footer #menu h2 {
  font-size: 14px;
  color: <%= @page.color['color4'] %>;
}

#footer #menu ul {
  list-style-type: none;
  margin: 0;
}

#footer #menu ul li a {
  text-decoration: none;
  color: <%= @page.color['color6'] %>;
}


#copyright {
  color: #97CBEA;
  font-size: 9px;
}

#copyright a {
  text-decoration: none;
}

#content {
  background-color: <%= @page.color['color6'] %>;
  color: <%= @page.color['marine'] %>;
  padding: 30px 0 60px 0;
}

#content a {
  text-decoration: none;
  font-weight: bold;
}

#content a:hover {
  color: #12AAEE;
}

#content h3 a {
  font-weight: normal;
}

#content h2 {
  color: <%= @page.color['color2'] %>;
  letter-spacing: -1px;
  background: #CCE3F1 url(/images/tab_grey.png) no-repeat left top; 
  padding: 0.25em 0.5em 0.5em 48px;
  font-family:"Arial Rounded MT Bold", Arial, sans-serif; 
  -webkit-border-radius: 0.5em; 
  -moz-border-radius: 0.5em;
}

#content p.advice {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
  line-height: 26px;
  background-color: <%= @page.color['advice'] %>;
  padding: 20px;
  border-radius: 2em; 
  -webkit-border-radius: 0.2em; 
  -moz-border-radius: 0.2em;
  -webkit-box-shadow: 0.25em 0.25em 0.25em rgba(0,0,0,0.05);
  font-family: Arial, Helvetica, sans-serif;
}

#content p.advice a {
  text-decoration: none;
}



.nav li {margin: 0 0 0 0.5em;}
.index { padding: 0.6em 14px; border-radius: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; background: <%= @page.color['color7'] %>; position: relative; }
.index a { background: <%= @page.color['color7'] %> url(/images/nav_arrow.gif) no-repeat right top; padding-right: 1em; position: relative; z-index: 15; padding-bottom: 0.125em;}
.index:hover a, #header .nav .index a:hover {background-position: right -81px;}

#guides { width: 400px; display: block; background: <%= @page.color['color7'] %>; border-radius: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; -webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25); -moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em; color: #001526; padding: 1.5em 2em; position: absolute; z-index: 10; top: -0.25em; left: 0; padding-top: 2em; }
#guides dt, #guides dd { font-weight: normal; font-size: 12px; margin: 0; padding: 0; }
#guides dt {padding:0; margin: 0.5em 0 0; font-weight: bold;}
#guides a {color: #FFF; background: none !important;}
#guides .L, #guides .R {float: left; width: 50%; margin: 0; padding: 0;}
#guides .R {float: right;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.clear { clear:both; }


#contribution h3 {
  color: <%= @page.color['color2'] %>;
  letter-spacing: -1px;
  background: #CCE3F1;
  padding: 0.5em 0.5em 0.5em 44px;
  font-family:"Arial Rounded MT Bold", Arial, sans-serif; 
  -webkit-border-radius: 0.5em; 
  -moz-border-radius: 0.5em;	
}

#contribution h3.quality {
  background: #CCE3F1 url(/images/icons/quality.png) no-repeat 10px 7px;
}

#contribution h3.documentation {
  background: #CCE3F1 url(/images/icons/documentation.png) no-repeat 10px 7px;
}

#contribution h3.support {
  background: #CCE3F1 url(/images/icons/support.png) no-repeat 10px 7px;
}

#contribution h3.appreciation {
  background: #CCE3F1 url(/images/icons/appreciation.png) no-repeat 10px 7px;
}

#contribution h3.publicity {
  background: #CCE3F1 url(/images/icons/publicity.png) no-repeat 10px 7px;
}

#contribution h3.money {
  background: #CCE3F1 url(/images/icons/money.png) no-repeat 10px 7px;
}

#contribution h3 span.summary {
  font-style: italic;
  display: block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 6px 0 6px 0;
}

#contribution p.summary {
  font-style: italic;
}

#contribution ul {
  list-style-type: none;
}

#contribution ul li {
  border-bottom: 1px solid #EBF7FF;
  color: <%= @page.color['marine'] %>;
}